.box-input-form {
  border-radius: 0;
  height: 50px;
  position: relative;
  width: 100%;
}
.custom-input {
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid rgba(145, 158, 171, 0.2) !important;
  border-radius: 0 !important;
  box-sizing: border-box !important;
  font-size: 16px !important;
  height: 100% !important;
  line-height: 24px !important;
  padding: 18px 20px 2px 0 !important;
  width: 100% !important;
}
.custom-input:focus + .box-input__line {
  width: 100%;
}
.custom-input:focus + .box-input__line + .custom-label {
  color: #d30015;
  font-size: 11px;
  line-height: 18px;
  opacity: 1;
  top: 0 !important;
}
.custom-input:focus::placeholder {
  opacity: 0;
}
.box-input__line {
  background-color: #d30015;
  bottom: 0;
  height: 1px;
  left: 0;
  position: absolute;
  transition: 0.3s ease;
  width: 0;
}
.custom-input:focus + .box-input__line {
  width: 100%;
}
.custom-input:focus + .box-input__line + .custom-label {
  color: #d30015;
  font-size: 11px;
  line-height: 18px;
  opacity: 1;
  top: 0 !important;
}
.custom-label {
  color: #919eab;
  font-size: 15px;
  left: 0;
  line-height: 24px;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 18px;
  transition: top 0.25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}
.custom-input:focus + .box-input__line + .custom-label {
  color: #d30015;
  font-size: 11px;
  line-height: 18px;
  opacity: 1;
  top: 0 !important;
}
:where(.css-dev-only-do-not-override-3rel02).ant-form-item {
  margin-bottom: 0;
}

/* css Select */
.custom-select {
  font-size: 15px;
  height: 66%;
  line-height: 24px;
  padding: 18px 20px 2px 0;
  width: 100%;

  background-color: #fff;
  border: 0;
  border-bottom: 1px solid rgba(145, 158, 171, 0.2);
  border-radius: 0;
  box-sizing: border-box;
  text-align: left;
}
.custom-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}
