.cps-container {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 700px;
  position: relative;
}
#login-form {
  padding-bottom: 80px;
}
#login-form .cps-login__image {
  gap: 16px;
  margin: 20px 0;
  text-align: center;
}
#login-form .cps-login__image h1 {
  color: #000;
  font-size: 22px;
  font-weight: 700;
}
.cps-login__image img {
  margin: 0 auto;
}
.custom-input {
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid rgba(145, 158, 171, 0.2) !important;
  border-radius: 0 !important;
  box-sizing: border-box !important;
  font-size: 16px !important;
  height: 100% !important;
  line-height: 24px !important;
  padding: 18px 20px 2px 0 !important;
  width: 100% !important;
}
.btn-form__submit {
  background: #e0052b;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 11px 0;
  text-align: center;
  width: 100%;
}
.login-question {
  margin: 20px 0;
}
.is-flex {
  display: flex !important;
}
.is-justify-content-center {
  justify-content: center !important;
}
.login-question .link {
  color: #d70018;
  font-size: 14px;
  font-weight: 600;
}
.button__go-login {
  color: #485fc7;
  font-size: 14px;
  font-weight: 600;
}
